body{
  line-height: 1.5;
}
.change-font
{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.khung
{
  border: none;
  background-color: rgb(162, 162, 162);
  text-align: center;
  height: 300px;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 50px;
}
.btn
{
  background-color: rgb(11, 170, 176);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 10px;
  border: none;
  padding: 10px 10px;
}